.container{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    position:relative;
}
 
.slider{
    width: 100%;
    height: 100vh;
    position: relative;
}

    .slide{
        width: 100%;
        height: 100%;
        background-image: 
            linear-gradient(to right, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 70%),
            url("../img/pureMandioquinha.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 8%;
        position: absolute;
        opacity: 0;
        transition: all .3s;
        z-index:-1;
    }

    .slide.active {
        opacity: 1;
        z-index: 2;
    }

    .slide:nth-child(2){
        background-image: 
            linear-gradient(to right, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 70%),
            url("../img/fileMignon.png");
    }

    .slide:nth-child(3){
        background-image: 
            linear-gradient(to right, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 70%),
            url("../img/brownie.jpg");
    }

    .slideContent{
        display: flex;
        flex-direction: column;
    }

    .slideContent h2{
        font-size: 4vw;
        font-weight: 800;
        width: 100%;
    }

     .slideContent h2:nth-child(2){
        font-size: 1.4vw;
        font-weight: 700;
        text-align: right;
        padding-right: 8px;
    }

.navigation{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    z-index: 10;
    overflow: visible;
}

    .bullets{
        display: flex;
        gap:1.2%;
        width: 50%;
    }

    .bullets li{
        list-style-type: none;
        content: "";
        width: 1.4vw;
        height: .3vw;
        background-color: white;
        border-radius: 200px;
        opacity: .5;
        transition: all .3s;
    }

    .bullets li.active{
        opacity: 1;
        width: 40px; /* Bullet ativo fica um pouco maior */
    }

    .bullets li:hover:not(li.active){
        opacity: .8;
    }

.navButtons{
    display: flex;
    gap: 2%;
    width: 50%;
    justify-content: end;
    position: relative;
    bottom: 30px;
}

.navButtons button img{
    width: 3vw;
    height: auto;
    padding-bottom: 20%;
}

.botaoseta {
    background: rgba(0, 0, 0, 0.552);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoseta:hover {
    background: rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

/* seta base */
.prevButton::before,
.nextButton::before {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

/* direita → */
.nextButton::before {
    transform: rotate(45deg);
}

/* esquerda ← */
.prevButton::before {
    transform: rotate(-135deg);
}

